
@{
    ViewData["Title"] = "Error2";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!-- Card -->
<div class="card ms-2 col-md">
    <div class="card-header card-header-content-md-between alert alert-soft-danger">
        <h3 class="card-header-title">Hata ile Karşılaşıldı.</h3>
        <small class="text-muted"></small>
    </div>
    <div class="card-body">
        <p class="card-text">İşlem yapmak istedğini firma onaylı değil!</p>
    </div>
</div>
<!-- End Card -->

