
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="content container-fluid">
    <div class="row justify-content-sm-center text-center py-10">
        <div class="col-sm-7 col-md-5">
            <img class="img-fluid mb-5" src="~/assets/svg/illustrations/oc-collaboration.svg" alt="Image Description" data-hs-theme-appearance="default">
            <img class="img-fluid mb-5" src="~/assets/svg/illustrations-light/oc-collaboration.svg" alt="Image Description" data-hs-theme-appearance="dark">

            <h1>Merhaba!</h1>
            <p>Bu proje EnocaChallenge için yapılmıştır!</p>
            <br />
            <strong>UI için örnek bir Bootstrap tema kullanılmıştır. Login işlevi istenmediği için yapılmamıştır. </strong>
            <br />
            <p>Firma Alkanlar 24 saat sipariş alabilecek şekilde bırakılmıştır. Batıkanlar AŞ sadece mesai saatleri içersinde sipariş alabilir. Korkmazlar AŞ ise onaylı değildir.</p>
          
        </div>
    </div>
    <!-- End Row -->
</div>
